<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='cases.css') }}">
    <title>Legal Firm - Cases</title>
</head>
<body>
    <header class="header">
        <h1>Legal Firm - Cases</h1>
        <nav class="navigation">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="clients.html">Clients</a></li>
                <li><a href="advocates.html">Advocates</a></li>
                <!-- Add more navigation links as needed -->
            </ul>
        </nav>
    </header>
    <form action="/cases" method="POST">
    <div class="container">
        <table class="cases-table">
            <thead>
                <tr>
                    <th>Update OR Delete Cases</th>
                    <th>Case ID</th>
                    <th>Case Title</th>
                    <th>Description</th>
                    <th>Case Status</th>
                    <th>Case Type</th>
                    <th>Court Name</th>
                    <th>Filing Date</th>
                    <th>Closing Date</th>
                    <th>Procedure Type</th>
                    <th>Procedure Date</th>
                    <th>Document Name</th>
                    <th>Document Uploaded</th>
                    <th>Document Submit Date</th>
                    <th>Court Appearance Date</th>
                    <th>Advocate Name</th>
                </tr>
            </thead>
            <tbody>
                {% for case in cases %}
                <tr>
                    <td><a href="{{ url_for('update_case', type='update', id=case[0]) }}">Update</a>
                        <a href="{{ url_for('delete_case', type='delete', id=case[0]) }}">Delete</a>
                    </td>
                    <td>{{ case[0] }}</td>
                    <td>{{ case[1] }}</td>
                    <td>{{ case[2] }}</td>
                    <td>{{ case[3] }}</td>
                    <td>{{ case[4] }}</td>
                    <td>{{ case[5] }}</td>
                    <td>{{ case[6] }}</td>
                    <td>{{ case[7] }}</td>
                    <td>{{ case[8] }}</td>
                    <td>{{ case[9] }}</td>
                    <td>{{ case[10] }}</td>
                    <td>{{ case[11] }}</td>
                    <td>{{ case[12] }}</td>
                    <td>{{ case[13] }}</td>
                    <td>{{ case[14] }}</td>
                    <td>{{ case[15] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</form>
</div>
    <section class="flex-parent jc-center">
        <div><a href="{{ url_for('create_case') }}" class="btn">Create a New case</a></div>
    </section>

    <footer class="footer">
        <p>&copy; 2023 Legal Firm. All rights reserved.</p>
    </footer>
</body>
</html>
