<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
    <title>Registration - Legal Firm</title>
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h1>Create Your Account</h1>
            <form method="POST" action="/change_password">
                <div class="form-group">
                    <label for="uname">Username:</label>
                    <input type="text" name="uname" class="form-control" id="uname" required>
                </div>
                <div class="form-group">
                    <label for="passw">Email ID:</label>
                    <input type="email" name="email" class="form-control" id="email" required>
                </div>
                <div class="form-group">
                    <label for="passw"> Password:</label>
                    <input type="password" name="passw" class="form-control" id="passw" required>
                </div>
                <div class="form-group">
                    <label for="new_passw">new Password:</label>
                    <input type="password" name="new_passw" class="form-control" id="new_passw" required>
                </div>
                <div class="form-group">
                    <label for="re_passw">Confirm Password:</label>
                    <input type="password" name="re_passw" class="form-control" id="re_passw" required>
                </div>
                <button type="submit" class="btn">Register</button>
            </form>
            <p>Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>
        </div>
    </div>
</body>
</html>
