<!DOCTYPE html>
<html>
<head>
    <title>Legal Firm Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="login-container">
        <h1>Welcome </h1>
        <form action="/" method="POST">
            <div class="input-container">
                <input type="text" name="email" placeholder="Email ID" required>
                <span class="input-icon"><i class="fas fa-user"></i></span>
            </div>
            <div class="input-container">
                <input type="password" name="password" placeholder="Password" required>
                <span class="input-icon"><i class="fas fa-lock"></i></span>
            </div>
            <button type="submit">Login</button>
        </form>
        <div class="footer">
            <p>Don't have an account? <a href="{{ url_for('register') }}">Sign Up</a></p>
        </div>
    </div>
</body>
</html>
